.budget-page {
    min-height: calc(100vh - 72px);

    padding:
        45px
        20px
        65px;

    background: #f5f8fa;
}


.budget-container {
    width: min(
        1050px,
        100%
    );

    margin: 0 auto;
}


.budget-heading h1 {
    margin-top: 7px;

    color: #173b59;

    font-size: 34px;

    font-weight: 800;
}


.budget-heading p:last-child {
    margin-top: 8px;

    color: #71838e;

    font-size: 13px;
}


.budget-top {
    display: grid;

    grid-template-columns:
        1fr
        1fr;

    gap: 18px;

    margin-top: 28px;
}


.budget-total-card,
.budget-limit-card {
    padding:
        28px;

    background: #ffffff;

    border:
        1px solid
        #e1e9ed;

    border-radius: 16px;

    box-shadow:
        0
        8px
        25px
        rgba(
            23,
            59,
            89,
            .05
        );
}


.budget-total-card span,
.budget-limit-card span {
    color: #80909b;

    font-size: 10px;

    font-weight: 800;

    letter-spacing: 1px;
}


.budget-total-card h2,
.budget-limit-card h2 {
    margin-top: 9px;

    color: #173b59;

    font-size: 32px;

    font-weight: 800;
}


.budget-total-card p {
    margin-top: 10px;

    color: #0f9f83;

    font-size: 12px;

    font-weight: 700;
}


.budget-progress-large {
    width: 100%;

    height: 9px;

    margin-top: 22px;

    overflow: hidden;

    border-radius: 50px;

    background: #e3ece9;
}


.budget-progress-large div {
    height: 100%;

    background: #0f9f83;

    border-radius: 50px;
}


.budget-limit-card small {
    display: block;

    margin-top: 7px;

    color: #7d8d97;

    font-size: 10px;
}


.budget-grid {
    display: grid;

    grid-template-columns:
        repeat(5,1fr);

    margin-top: 18px;

    background: #ffffff;

    border:
        1px solid
        #dfe8ec;

    border-radius: 14px;

    overflow: hidden;
}


.budget-box {
    min-height: 140px;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 7px;

    border-right:
        1px solid
        #e4ebee;
}


.budget-box:last-child {
    border-right: none;
}


.budget-box span {
    color: #71838e;

    font-size: 11px;
}


.budget-box strong {
    color: #173b59;

    font-size: 15px;

    font-weight: 800;
}


.budget-note {
    margin-top: 18px;

    padding: 15px;

    border-radius: 11px;

    background: #eff8f6;

    color: #5c7770;

    font-size: 10px;

    line-height: 1.6;
}


@media (max-width: 850px) {

    .budget-top {
        grid-template-columns: 1fr;
    }

    .budget-grid {
        grid-template-columns:
            repeat(2,1fr);
    }

    .budget-box {
        border-right:
            1px solid
            #e4ebee;

        border-bottom:
            1px solid
            #e4ebee;
    }

}


@media (max-width: 600px) {

    .budget-grid {
        grid-template-columns: 1fr;
    }

    .budget-box {
        border-right: none;
    }

}